name: Simple DDoS
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'IP'
        default: '1.1.1.1'
      port:
        description: 'Port'
        default: '80'

jobs:
  dos:
    runs-on: ubuntu-latest
    steps:
      - run: python3 -c "import socket; print('Testing ${{ github.event.inputs.ip }}:${{ github.event.inputs.port }}'); s=socket.socket(); s.settimeout(2); s.connect(('${{ github.event.inputs.ip }}', ${{ github.event.inputs.port }})); print('Connected'); s.close()"
