name: "DDoS Bot"
on: workflow_dispatch
jobs:
  attack:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Workflow started"
      - run: python3 -c "print('Testing socket'); import socket; s=socket.socket(); s.settimeout(2); s.connect(('1.1.1.1',80)); print('Success'); s.close()"
